/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/vendor/bundle/

*.bundle
*.so
*.o
*.a
mkmf.log
.rspec_status
/target
*.gem
/ext/tzf2/target
/ext/tzf2/Makefile
/ext/tzf2/*.bundle
/ext/tzf2/*.so
.ruby-version
